<form class="haunted">
    <section class="attribute-roll-message">
        <div class="attribute-label">{{local_attribute attribute}}</div>
        <div class="attribute-dice dice-box">{{format_dice roll}}</div>
    </section>
</form>