<form class="haunted">
  <section class="outcome-message">
    {{#each outcome}}
      <div class="conflict-entry">
        <div class="{{#if @index}}column-spacer{{/if}} row-entry conflict-entry-header">
          <span>{{name}}:</span>
          <span class="row-spacer-sm">{{attribute}}</span>
        </div>
        <div class="rolled-dice dice-box">{{format_conflict_dice
            dice
            victories
          }}</div>
      </div>
    {{/each}}
  </section>
</form>