<section class="column-layout">
  {{checkBoxes "conflictSelection" currentChoices}}
  <input
    class="column-spacer submit-button"
    type="submit"
    value="{{localize 'HAUNTED.Dialogs.StartConflict'}}"
  />
</section>