<form class="haunted roll-influence-dialog">
    <div class="haunted-attributes">
        <label class="attribute-name" for="effort-spent"> {{localize "HAUNTED.Dialogs.EffortSpent"}}:</label>
        <input class="number-field" name="effort-spent" type="number" value=0 />
    </div>
     <div class="haunted-attributes">
        <label class="attribute-name" for="help-dice">{{localize "HAUNTED.Dialogs.HelpDice"}}:</label>
        <input class="number-field" name="help-dice" type="number" value=0 />
    </div>
    <button class="adjust-button influence-roll-button">{{localize "HAUNTED.Dialogs.Roll"}}</button>
</form>