<form class="roll-influence-dialog">
    <label>{{localize "HAUNTED.Dialogs.EffortSpent"}}:</label>
    <input name="effort-spent" type="number" value=0 />
    <label>{{localize "HAUNTED.Dialogs.HelpDice"}}:</label>
    <input name="help-dice" type="number" value=0 />
    <button class="influence-roll-button" name="influence-roll-button">{{localize "HAUNTED.Dialogs.Roll"}}</button>
</form>