<section class="row-entry">
  <img
    src="{{document.img}}"
    title="{{document.name}}"
    data-action="editImage"
    data-field="img"
    alt="Portrait"
    width="100"
    height="100"
  />
  <h1>
    <input
      type="text"
      class="row-spacer character-name-field"
      name="name"
      value="{{document.name}}"
      placeholder="Name"
    />
  </h1>
</section>