<div class="haunted-attributes">
    <label class="attribute-name rollable" data-attribute="influence" for="system.influence"><i class="fas fa-dice"></i> {{localize "HAUNTED.Character.Influence"}}:</label>
    <input type="number" name="system.influence" value="{{system.influence}}" data-dtype="Number"/>
    <label class="attribute-name effort-label" for="system.effort">{{localize "HAUNTED.Character.Effort"}}:</label>
    <input type="number" name="system.effort" value="{{system.effort}}" data-dtype="Number"/>
</div>

