<section class="character-sheet-back">
    <label class="attribute-label" for="system.notes">{{localize "HAUNTED.Character.Notes"}}</label>
    {{editor system.notes target="system.notes" engine="prosemirror" button=false owner=owner editable=true}}
</section>