<section class="character-notes">
    <label class="attribute-name haunted-attribute-label" for="system.ambition">{{localize "HAUNTED.Character.Notes"}}</label>
    {{editor system.notes target="system.notes" engine="prosemirror" button=false owner=owner editable=true}}
</section>