<header class="character-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="72px" height="72px" />
    <h1><input type="text" name="name" value="{{actor.name}}" placeholder="Name" /></h1>
</header>