<header class="character-header">
  <img
    src="{{document.img}}"
    title="{{document.name}}"
    data-action="editImage"
    data-field="img"
    alt="Portrait"
    width="100"
    height="100"
  />
  <h1>
    <input
      class="character-header-name"
      type="text"
      name="name"
      value="{{document.name}}"
      placeholder="Name"
    />
  </h1>
</header>