<header class="character-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <h1>
        <input class="character-header-name" type="text" name="name" value="{{actor.name}}" placeholder="Name" />
    </h1>
</header>