<form class="haunted-sheet">
  {{> "systems/haunted/templates/sheets/partials/character-header.hbs"}}
  <section class ="character-info">
    <div class="character-motive">
        <label class="attribute-name" for="system.unfinishedBusiness">{{localize "HAUNTED.Character.UnfinishedBusiness"}}:</label>
        <input type="text" name="system.unfinishedBusiness" value="{{system.unfinishedBusiness}}" data-dtype="String"/>
    </div>
    <div class="haunted-attributes">
        <label class="attribute-name rollable" data-attribute="presence" for="system.presence"><i class="fas fa-dice"></i> {{localize "HAUNTED.Character.Presence"}}:</label>
        <input type="number" name="system.presence" value="{{system.presence}}" data-dtype="Number"/>
    </div>
  </section>
  {{> "systems/haunted/templates/sheets/partials/character-notes.hbs"}}
</form>
