<div>
  <section class="character-sheet-front">
    {{> "systems/haunted/templates/sheets/partials/character-header.hbs"}}
    <div class="character-motive">
      <label class="attribute-label">{{localize "HAUNTED.Character.Ambition"}}:</label>
      <input type="text" name="system.ambition" value="{{document.system.ambition}}" data-dtype="String"/>
    </div>
    {{> "systems/haunted/templates/sheets/partials/character-attributes.hbs"}}
  </section>
  {{> "systems/haunted/templates/sheets/partials/character-notes.hbs"}}
</div>
