<div>
  <section class="character-sheet-front">
    {{> "systems/haunted/templates/sheets/partials/character-header.hbs"}}
    <div class="character-motive">
      {{#if (isdefined document.system.problem)}}
        <label class="attribute-label">{{localize "HAUNTED.Character.Problem"}}:</label>
        <input type="text" name="system.problem" value="{{document.system.problem}}" data-dtype="String"/>
      {{/if}}
    </div>
    <div class="character-disposition">
        <div class="disposition-selection">
          <label class="attribute-label">{{localize "HAUNTED.Character.Disposition"}}:</label>
          <select class="disposition-choice" name="system.disposition" {{#if (gt document.system.disposition 0)}} disabled {{/if}}>
           {{selectOptions dispositionChoices selected=document.system.disposition valueAttr="key" labelAttr="label"}}
          </select>
        </div>
        {{#if (gt document.system.disposition 0)}}
          <div class="disposition-buttons">
            <button data-action="increaseDisposition" class="adjust-button adjust-button-label">+</button>
            <button data-action="decreaseDisposition" class="adjust-button adjust-button-label">-</button>
          </div>
        {{/if}}
  </div>
    <div class="attributes-support">
      {{> "systems/haunted/templates/sheets/partials/character-attributes.hbs"}}
    </div>
  </section>
  {{> "systems/haunted/templates/sheets/partials/character-notes.hbs"}}
</div>
