.haunted .attribute-roll-message {
    border: 2px solid black;
    padding-top: 8px;
    text-align: center;
}

.haunted .dice-box {
  padding: 4px;
  border: 4px solid darkred;
  margin: 8px;
}

.chat-message .message-header .message-sender, .conflict-entry-name {
  font-family: "Finger Paint";
  text-shadow: 0 0 0.5rem black;
}

.conflict-entry {
  display: flex;
  flex-direction: column;
}

.conflict-entry-header {
  align-self: center;
  margin-top: 0.5rem;
}