@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Permanent+Marker&display=swap');

@font-face {
  font-family: "DPoly-Six-Sider";
  src: url("../assets/fonts/DPoly-Six-Sider.otf") format("opentype");
}

.haunted-attribute-label {
    font-family: "Permanent Marker";
    color: darkred;
    font-size: medium;
}

.conflict-dice {
  font-family: "DPoly-Six-Sider";
  font-size: 20px;
  line-height: 20px;
}