@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Permanent+Marker&display=swap');

@font-face {
  font-family: "DPoly-Six-Sider";
  src: url("../assets/fonts/DPoly-Six-Sider.otf") format("opentype");
}

.haunted .character-header h1 {
  font-family: "Finger Paint";
  font-size: xx-large;
  text-shadow: 0 0 0.5rem black;
  border-bottom: none;
}

.haunted .attribute-label {
    font-family: "Permanent Marker";
    color: darkred;
    font-size: medium;
    flex-shrink: 0;
}

.haunted .attribute-dice {
  font-family: "DPoly-Six-Sider";
  font-size: xx-large;
}

.haunted .conflict-dice {
  font-size: 20px;
  line-height: 20px;
}

.haunted .adjust-button-label {
  font-size: medium;
  line-height: 0;
  font-weight: bold;
}

.haunted .number-field {
  width: 30px;
  height: 30px;
  text-align: center;
  flex-shrink: 0;
  margin-right: 5px;
  margin-left: 5px;
}