.haunted .character-sheet-front {
  display: grid;
  grid-template: auto auto auto / 50fr 50fr;
}

.haunted .character-header {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid var(--color-underline-header);
  padding-bottom: 8px;
}

.haunted .character-header-name {
  text-shadow: inherit;
  height: fit-content;
  margin-left: 8px;
}

.haunted .character-motive {
  grid-column: 1 / -1;
  margin-top: 8px;
  margin-bottom: 20px;
}

.haunted .attributes {
  display: flex;
  flex-direction: row;
}

.haunted .adjust-button {
  width: 30px;
  height: 30px; 
  align-self: center;
}

.haunted .character-sheet-back {
  margin-top: 20px;
  height: 100vh;
  border-top: 2px solid var(--color-underline-header);
  padding: 8px  8px 0;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.haunted .clickable:hover {
  cursor: pointer;
  text-shadow: 0 0 10px black;
}

.haunted .character-disposition {
  display: grid;
  grid-template: auto / auto auto;
  align-items: center;
}

.disposition-selection {
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.haunted .disposition-buttons {
  display: flex;
  flex-direction: column;
  justify-self: left;
  margin-left: 5px;
}

.haunted .attributes-support {
  display: grid;
  grid-template: auto auto / auto;
  row-gap: 10px;
}

.haunted .influence-roll-row {
  margin-top: 16px;
}

.haunted .roll-influence {
  width: fit-content;
  margin-top: 4px;
  margin-left: 108px;
}


/* justify-items (along the horizontal axis)
   align-items (along the vertical axis) 
   
   justify-content (horizontal whole grid)
   align-conent (verticle)*/






