
.haunted .haunted-sheet {
  display: flex;
  flex-direction: column;
}

.haunted .character-header h1 {
    font-family: "Finger Paint";
    font-size: xx-large;
    text-shadow: 0 0 0.5rem black;
}

.haunted .character-header input {
    height:fit-content;
    text-shadow: inherit;
}

.haunted .character-motive {
  margin-bottom: 1.5rem;
}

.haunted .haunted-attributes {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.haunted .effort-label {
  margin-left: 1rem;
}

.haunted .attribute-name {
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.haunted .number-field {
  width: 2rem;
  text-align: center;
}

.haunted .rollable:hover {
    cursor: pointer;
    text-shadow: 0 0 10px black;
}

.haunted .prosemirror {
  height: 100vh;
}

.haunted .adjust-button {
  width: fit-content;
  font-size: medium;
  margin-left: 0.5rem;
  line-height: 0;
  height: 27px; 
  align-self: center;
  font-weight: bold;
}

.haunted .disposition {
  align-self: center;
}

.haunted .disposition-buttons {
  display: flex;
  flex-direction: column;
}


